/*############################ MIXIN PRINCIPAL MEDIA QUERIES ##################################*/
@mixin medias-query($max_width, $font_size, $line_height, $clase){
  @media(max-width: $max_width){
    #{$clase}{
      font-size: $font_size;
      line-height: $line_height;
    }
  }
}

/* ############################################################ SECCION 2 ############################################################################# */
@media (max-width: 900px) {
    .imagen2-seccion {
      background-image: url('../imagenes/instalaciones_011.jpg');
  
      /* The image used */
      height: 400px;
    }
  }

  /* ############################################################ MEDIA QUERIES BENEFICIOS ############################################################################# */
  @include medias-query(600,40 ,50 ,".titulo-beneficios" );

  @include medias-query(600,30 ,40 ,".titulo-b" );

  @include medias-query(600,30 ,40 ,".titulo-b2" ); /* ESTE TAMBIEN ES USADO POR LA PAGINA CONVENIOS*/

  @include medias-query(600,12 ,23 ,".beneficios" );

  /* ############################################################ MEDIA QUERIES CONTACTO Y PREGUNTAS FRECUENTES ############################################################################# */
  @include medias-query(600,35 ,35 ,".titulo-sec2" );

  