
$fuente:'Darker Grotesque', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$texto_align: center;
$texto_transform: uppercase;

@mixin template_beneficios($font_size, $color, $text_align : $texto_align, $font_family : $fuente, $font_weight, $text_transform: $texto_transform ){
  .clase_pagina{
    font-size: $font_size;
    color: $color;
    text-align: $text_align;
    font-family: $font_family;
    font-weight: $font_weight;
    text-transform: $text_transform;
    line-height: $line_height;
  }
}





/* ############################################################ BENEFICIOS ############################################################################# */
  
.titulo-beneficios {
    font-size: 55px;
    color: #FFF;
    text-align: center;
    font-family: 'Darker Grotesque', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 55px;
  }
  
  .titulo-b {
    font-size: 45px;
    color: #DAFF42;
    text-align: center;
    font-family: 'Darker Grotesque', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 55px;
  }
  
  .titulo-b2 {
    font-size: 45px;
    color: #DAFF42;
    text-align: center;
    font-family: 'Darker Grotesque', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 55px;
  }
  
  .beneficios {
    font-size: 15px;
    color: #FFF;
    text-align: center;
    font-family: 'Darker Grotesque', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 35px;
    margin-bottom: 15px;
    width: 100%;
    border-bottom: 3px solid #FFF;
  }