$fuente_family:'Darker Grotesque', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

@mixin template_beneficios($font_size, $color, $texto_align, $font_family : $fuente_family, $font_estilo, $fuente_weight, $texto_transform, $linea_height, $hayExtras, $clase){
  @if $hayExtras{
    #{$clase}{
      font-size: $font_size;
      color: $color;
      text-align: $texto_align;
      font-family: $font_family;
      font-style: $font_estilo;
      font-weight: $fuente_weight;
      text-transform: $texto_transform;
      line-height: $linea_height;
    }
  } @else {
    #{$clase}{
            font-size: $font_size;
            color: $color;
            text-align: $texto_align;
            font-family: $font_family;
            font-style: $font_estilo;
            font-weight: $fuente_weight;
            text-transform: $texto_transform;
            line-height: $linea_height;
            margin-bottom: 15px;
            width: 100%;
            border-bottom: 3px solid #FFF;
          }
        }
  
}

/* ############################################################ BENEFICIOS ############################################################################# */
  
  @include template_beneficios(55px, #FFF, center, $fuente_family, italic, 900, uppercase, 55px, true, ".titulo-beneficios");

  @include template_beneficios(45px, #DAFF42, center, $fuente_family, normal, 900, uppercase, 55px, true, ".titulo-b");

  @include template_beneficios(15px, #FFF, center, $fuente_family, italic, bold, uppercase, 35px, false, ".beneficios");

  /*=================================================BENEFICIOS Y CONVENIOS ==========================================================*/

  @include template_beneficios(45px, #DAFF42, center, $fuente_family, italic, 900, uppercase, 55px, true, ".titulo-b2"); 

