@import "_beneficios.scss";
$fuente_family:'Darker Grotesque', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

/* ############################################################ PREINSCRIPCION ############################################################################# */
  

  @include template_beneficios(15px, #fff, left, $fuente_family, normal,900, uppercase, 15px, true, ".titulo2");

  
  .parrafo {
    font-size: 14px;
    text-align: justify;
    color: #666;
    font-family: 'Darker Grotesque', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 300;
  }
  
  input::placeholder {
    opacity: 0.5;
    color: white;
  }