@import "layout/header.scss";
@import "components/boton-flotante.scss";
@import "secciones-main/fitness.scss";
@import "secciones-main/video-promo.scss";
@import "secciones-main/clases-animacion.scss";
@import "secciones-main/galeria.scss";
@import "secciones-main/seccion2.scss";
@import "secciones-main/contacto-main.scss";
@import "layout/footer.scss";
@import "media-queries/media-queries.scss";
@import "sub-paginas/beneficios.scss";
@import "sub-paginas/contacto.scss";
@import "sub-paginas/convenios.scss";
@import "sub-paginas/horarios.scss";
@import "sub-paginas/preguntas-frecuentes.scss";
@import "sub-paginas/preinscripcion.scss";
@import "mixins/mixins.scss";
@import "base/reset.scss";




  /* ############################################################ OTRAS HTML (NO MAIN) ############################################################################# */
  
  

  /* ############################################################ CONTACTO, PREGUNTAS FRECUENTES, GALERIA ############################################################################# */

.titulo-sec2 {
  font-size: 55px;
  color: #FFF;
  text-align: center;
  font-family: 'Darker Grotesque', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 55px;
}