* {
    margin: 0;
    padding: 0;
}

@import "header.scss";
@import "boton-flotante.scss";
@import "fitness.scss";
@import "video-promo.scss";
@import "clases-animacion.scss";
@import "galeria.scss";
@import "seccion2.scss";
@import "contacto-main.scss";
@import "footer.scss";
@import "media-queries.scss";
@import "beneficios.scss";
@import "contacto.scss";
@import "convenios.scss";
@import "horarios.scss";
@import "preguntas-frecuentes.scss";
@import "preinscripcion.scss";




  /* ############################################################ OTRAS HTML (NO MAIN) ############################################################################# */
  
  .cuerpo {
    background-color: #000000;
  }


  /* ############################################################ CONTACTO, PREGUNTAS FRECUENTES, GALERIA ############################################################################# */

.titulo-sec2 {
  font-size: 55px;
  color: #FFF;
  text-align: center;
  font-family: 'Darker Grotesque', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 55px;
}