 @import "../mixins/_mixins.scss";
 
 
 
 /* ############################################################ BOTON FLOTANTE ############################################################################# */

@include toTop_toTopcel(fixed, 50%, 0px, pointer, none, 600, "#toTop", true);

@include toTop_toTopcel(fixed, 0, 0px, pointer, none, 600, "#toTopcel", false);

.btn-principal {
    color: #FFF;
    background: #2E9999;
    border-color: #2E9999;
    width: 100%;
    border-radius: 0px;
}

@include btn_principal(#FFF, #2E9999, #2E9999, ".btn-principal", "focus", false);

@include btn_principal(#FFF, #666, #666, ".btn-principal", "hover", false);


@include btn_principal(#FFF, #2E9999, #2E9999, ".btn-principal", "visited", true);

@include btn_principal(#FFF, #2E9999, #2E9999, ".btn-principal", "active", true);
