@import "../mixins/_mixins.scss";
$fuente_family:'Darker Grotesque', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

/*================================================ FITNESS ===============================================================*/

.fitness-section {
    min-height: 600px;
    padding-top: 140px;
    text-align: center;
    background: #000000;
  }

  @include template_titulos_parrafos(14px, #fff, justify, $fuente_family, normal,300, capitalize, 25px, true, ".parrafo2");

  @include template_titulos_parrafos(55px, #fff, left, $fuente_family, normal,900, uppercase, 55px, true, ".titulo-n");

  
  